<h1>{{quizCount}}問目</h1>

<h3>{{quiz?.question}}問題文</h3>

<button mat-raised-button color="accent" class="button">
  選択肢
</button>
<br>
<button mat-raised-button color="accent" class="button">
  選択肢
</button>
<br>
<button mat-raised-button color="accent" class="button">
  選択肢
</button>
<br>
<button mat-raised-button color="accent" class="button">
  選択肢
</button>
<br>
<button mat-raised-button color="accent" (click)="clickHint()" >ヒント</button>
<div *ngIf="isDisplayHint">
    <li>
      アテネオリンピック公式テーマソング
    </li>
</div>



